AWS_REGION=sa-east-1
STACK_NAME=fitbot-stack
ADMIN_NUMERO=+5511999887766
HORARIO_UTC="cron(0 10 * * ? *)"
META_VERIFY_TOKEN="fitbot-webhook-2024"
TEMPLATE_NAME="fitbot_mensagem_diaria"
META_TOKEN="EAAxxxxxxxxxxxxxxxxx"
META_PHONE_ID="1234567890"
META_APP_SECRET="xxxxxxxxxxxxxxxx"